.skill-item {
  display: flex;
  min-width: 241px;
}
.skill-img {
  width: 35px;
  height: 35px;
  align-self: center;
}
.skill-name {
  align-self: center;
  color: #f1f5f9;
  margin-left: 10px;
  font-size: 14px;
}
@media screen and (max-width: 577px) {
  .skill-item {
    min-width: 115px;
    flex: 1;
  }
  .skill-img {
    width: 32px;
    height: 32px;
  }
}
